<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles/style.css" />
    <title>Jean's journal</title>

    <style>
        .login-container{
            
            width:20%;
            margin: 0 auto;
            margin-top: 200px;
            padding: 20px;
        }
        .inputs{
            display: block;
            margin-top: 10px;
            border: solid 1px;
            padding: 5px 20px;


        }

        .submitbutton{
         margin-top: 10px;
         border: solid 1px white;
         padding: 0px 20px;
         background-color:green;
        }
    </style>
</head>
<body class="bg-gray-400">

    <div class="login-container bg-gray-200 ">
    <h1>Please login to make changes</h1>

    

        <script>
            const params = new URLSearchParams(window.location.search).get('destination')
            console.log(params)
    
            let form = document.createElement('form')
            form.setAttribute('action', `/users/login?destination=/posts${params.toString()}`)
            form.setAttribute('method', "POST")
            let usernameInput= document.createElement('input')
            usernameInput.classList.add("inputs")

            usernameInput.setAttribute('type', 'text')
            usernameInput.setAttribute('name', 'username')
            usernameInput.setAttribute('placeholder', "username")
            usernameInput.setAttribute('required',"")
            let passwordInput= document.createElement('input')
            passwordInput.classList.add("inputs")
            passwordInput.setAttribute('type', 'password')
            passwordInput.setAttribute('name', 'password')
            passwordInput.setAttribute('placeholder', "password")
            passwordInput.setAttribute('required',"")
    
            let button = document.createElement('input')
            button.classList.add("submitbutton")
            button.setAttribute('type', 'submit')
    
            form.appendChild(usernameInput)
            form.appendChild(passwordInput)
            form.appendChild(button)
    
            let container= document.querySelector('.login-container')
            container.appendChild(form)
    
            
        </script>

    </div>

    
    
</body>
</html>