
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Poppins:wght@300;400;700&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jean's journal</title>
  <style>
    body{
      font-family: 'Nunito Sans', sans-serif;
      
    }
    .buttons{
      border-radius: 5px;
      
    }

    .menu-links:hover{
      background-color:#739b25;
      transition: 0.5s;
    }

    .menu-links{
      background-color: #374151 ;
    }

    .reademore-publish{

      background-color:#739b25;
      transition: 0.5s;

    }

    .reademore-publish:hover{
       background-color: lightsteelblue;
    }

    .edit-cancel{

      background-color: #374151;
      transition: 0.5s;

    }
    .edit-cancel:hover{
      background-color: lightsteelblue;
    }

    .wrapper{
      border-radius: 5px;
    }

    @media screen and (max-width: 1000px) {
      .bigwrapper{
        flex-direction: column;
        border: solid 1px white;
        width: 100%;
        overflow: fit-content;
      }

      #navbar{
        width:100%;
        border-radius: 0%;
        margin-top: 0px;
      }

      .menu-links{
           width: 100%;
      }

      #notes-wrapper{
        width: 100%;
        margin-top:0px;
        border-radius: 0%;
        padding: 5px;
        
      }

      .markdown-div{
        overflow: hidden;
      }

      }
  </style>
</head>
<body class="bg-gray-800">
  <div class="bigwrapper w-10/12  mx-auto flex justify-center ">

    <nav id="navbar" class="mt-12 p-4 bg-white w-2/12 wrapper">
                  
        
      <ul>
        
        
        <a href="/" class=" border-2 px-4 py-1 bg-jean-blue text-white  mt-0 inline-block w-full mt-4 text-center buttons menu-links" >All Posts</a>
        <a href="https://jean-portfolio-nextjs.vercel.app/" class=" border-2 px-4 py-1 bg-jean-blue text-white  mt-0 inline-block w-full mt-4 text-center buttons menu-links" >My Portfolio</a>
        
      </ul>
  
     </nav>

    <div id="notes-wrapper" class="  border-2  w-8/12 mt-12 p-10 bg-gray-200 wrapper">
      <h1 class="mb-9 inline-block text-4xl font-bold">+New Note</h1>
      
  
      <form action="/posts" method="POST">

          <div >
            <label for="title">Note title</label>
            <input required value="" type="text" name="title" id="title" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" >
          </div>
          <div >
            <label for="description">Note summary</label>
            <textarea name="description" id="description" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" ></textarea>
          </div>
          <div >
            <label for="markdown">Note </label>
            <textarea required name="markdown" id="markdown" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text"  rows="15" cols="50"></textarea>
          </div>
          <button type="submit" class=" border-2 px-4 py-1 bg-green-800 text-white float-left mt-0 inline readmore-publish">Publish</button>
          <a href="/" class=" border-2 px-4 py-1 bg-gray-700 text-white float-right mt-0 inline edit-cancel">Cancel</a>
        
       
      </form>
    </div>

  </div>
  
</body>
</html>