
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jean's journal</title>
  <style>
    .buttons{
      border-radius: 5px;
    }

    .menu-links:hover{
      background-color:#57C3FF ;
      transition: 0.5s;
    }

    .menu-links{
      background-color: #374151 ;
    }

    .reademore-publish{

      background-color:#065F46;
      transition: 0.5s;

    }

    .reademore-publish:hover{
       background-color: lightsteelblue;
    }

    .edit-cancel{

      background-color: #374151;
      transition: 0.5s;

    }
    .edit-cancel:hover{
      background-color: lightsteelblue;
    }

    .wrapper{
      border-radius: 5px;
    }
  </style>
</head>
<body class="bg-gray-800">
  <div class=" w-10/12  mx-auto flex justify-center ">

    <nav id="navbar" class="mt-12 p-4 bg-white w-2/12 wrapper">
                  
        
      <ul>
        
        
        <a href="/" class=" border-2 px-4 py-1 bg-jean-blue text-white  mt-0 inline-block w-full mt-4 text-center buttons menu-links" >All Posts</a>
        
      </ul>
  
     </nav>

    <div class="  border-2  w-8/12 mt-12 p-10 bg-gray-200 wrapper">
      <h1 class="mb-9 inline-block text-4xl font-bold">+New Note</h1>
      
  
      <form action="/posts" method="POST">

          <div >
            <label for="title">Note title</label>
            <input required value="" type="text" name="title" id="title" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" >
          </div>
          <div >
            <label for="description">Note summary</label>
            <textarea name="description" id="description" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" ></textarea>
          </div>
          <div >
            <label for="markdown">Note </label>
            <textarea required name="markdown" id="markdown" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text"  rows="15" cols="50"></textarea>
          </div>
          <button type="submit" class=" border-2 px-4 py-1 bg-green-800 text-white float-left mt-0 inline readmore-publish">Publish</button>
          <a href="/" class=" border-2 px-4 py-1 bg-gray-700 text-white float-right mt-0 inline edit-cancel">Cancel</a>
        
       
      </form>
    </div>

  </div>
  
</body>
</html>