<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" type="text/css" href="/styles/style.css" />

  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
  <style>
    .buttons{
      border-radius: 5px;
    }

    .menu-links:hover{
      background-color:#57C3FF ;
      transition: 0.5s;
    }

    .menu-links{
      background-color: #374151 ;
    }

    .reademore-publish{

      background-color:#065F46;
      transition: 0.5s;

    }

    .reademore-publish:hover{
       background-color: lightsteelblue;
    }

    .edit-cancel{

      background-color: #374151;
      transition: 0.5s;

    }
    .edit-cancel:hover{
      background-color: lightsteelblue;
    }

    .wrapper{
      border-radius: 5px;
    }
  </style>
</head>
<body class="bg-gray-800">

  <div class="  w-10/12  mx-auto flex justify-center pb-8 ">
    <nav id="navbar" class="mt-12 p-4 bg-white w-2/12 wrapper">
                  
        
      <ul >
        
        <a href="/posts/newNote" class=" border-2 px-4 py-1 bg-jean-blue text-white  mt-0 inline-block w-full mt-4 text-center buttons menu-links" >+New Note</a>
        
        <a href="/" class=" border-2 px-4 py-1 bg-jean-blue text-white  mt-0 inline-block w-full mt-4 text-center buttons menu-links" >All Notes</a>
        
        
      </ul>
  
     </nav>
  
  
    <div class="  border-2  w-8/12 mt-12 p-10 bg-gray-200 wrapper">
      <h1 class="mb-9 inline-block text-4xl font-bold"><%= post.title %></h1>
      <div class=" mb-2 text-xl font-bold">
        <%= post.createdAt.getDate()+"."+post.createdAt.getMonth()+"."+post.createdAt.getFullYear() %>
      </div>
      
      <div> <br><br>
        <%- post.sanitizedHtml %>
      </div> <br><br>
      
      
  
      
    </div>

  </div>

  
</body>
</html>

